# 1. Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in the list.

In [49]:
# Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in the list.

def add_even_numbers(numbers):
    res = 0
    for num in numbers:
        if num % 2 == 0:
            res += num
    return res

print(add_even_numbers([1,2,3,4,5,6,]))

12

# 2. Create a Python function that accepts a string and returns the reverse of that string.

In [50]:
# Create a Python function that accepts a string and returns the reverse of that string.

# Inbuilt method
def reverse_string(string):
    return string[::-1]
print(reverse_string("hello"))

# custom defined method
def reverse_string(string):
    x = ""
    length = len(string)
    while length > 0:
      length -= 1
      c = string[length]
      x += c

    return x

print(reverse_string("hello"))

olleh
olleh

# 3.Implement a Python function that takes a list of integers and returns a new list containing the squares of each number.

In [51]:
#  Implement a Python function that takes a list of integers and returns a new list containing the squares of each number.

def square_numbers(numbers):
    res = []
    for num in numbers:
        res.append(num**2)
    return res

print(square_numbers([1,2,3,4,5]))

[1, 4, 9, 16, 25]

# 4. Write a Python function that checks if a given number is prime or not from 1 to 200.

In [52]:
# Write a Python function that checks if a given number is prime or not from 1 to 200.

def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

for i in range(201):
  if i  == 0:
    continue
  print(f"{i}={is_prime(i)}")

1=False
2=True
3=True
4=False
5=True
6=False
7=True
8=False
9=False
10=False
11=True
12=False
13=True
14=False
15=False
16=False
17=True
18=False
19=True
20=False
21=False
22=False
23=True
24=False
25=False
26=False
27=False
28=False
29=True
30=False
31=True
32=False
33=False
34=False
35=False
36=False
37=True
38=False
39=False
40=False
41=True
42=False
43=True
44=False
45=False
46=False
47=True
48=False
49=False
50=False
51=False
52=False
53=True
54=False
55=False
56=False
57=False
58=False
59=True
60=False
61=True
62=False
63=False
64=False
65=False
66=False
67=True
68=False
69=False
70=False
71=True
72=False
73=True
74=False
75=False
76=False
77=False
78=False
79=True
80=False
81=False
82=False
83=True
84=False
85=False
86=False
87=False
88=False
89=True
90=False
91=False
92=False
93=False
94=False
95=False
96=False
97=True
98=False
99=False
100=False
101=True
102=False
103=True
104=False
105=False
106=False
107=True
108=False
109=True
110=False
111=False
112=False
113=True
114=False
115=False
116=False
117=False
118=False
119=False
120=False
121=False
122=False
123=False
124=False
125=False
126=False
127=True
128=False
129=False
130=False
131=True
132=False
133=False
134=False
135=False
136=False
137=True
138=False
139=True
140=False
141=False
142=False
143=False
144=False
145=False
146=False
147=False
148=False
149=True
150=False
151=True
152=False
153=False
154=False
155=False
156=False
157=True
158=False
159=False
160=False
161=False
162=False
163=True
164=False
165=False
166=False
167=True
168=False
169=False
170=False
171=False
172=False
173=True
174=False
175=False
176=False
177=False
178=False
179=True
180=False
181=True
182=False
183=False
184=False
185=False
186=False
187=False
188=False
189=False
190=False
191=True
192=False
193=True
194=False
195=False
196=False
197=True
198=False
199=True
200=False

# 5. Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of terms.

In [53]:
# Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of terms.

class FibonacciIter():

  def __iter__(self):
    self.a = 0
    self.b = 1
    return self

  def __next__(self):
    fib = self.a
    if fib > 100:
      raise StopIteration
    self.a, self.b = self.b, self.a + self.b
    return fib

fib = FibonacciIter()
for i in fib:
  print(i)

0
1
1
2
3
5
8
13
21
34
55
89

# 6.Write a generator function in Python that yields the powers of 2 up to a given exponent.

In [54]:
# Write a generator function in Python that yields the powers of 2 up to a given exponent.


def generate_powers_of_2(exponent):
    for i in range(exponent + 1):
        yield 2 ** i

# Example usage
for power in generate_powers_of_2(5):
    print(power)

1
2
4
8
16
32

# 7. Implement a generator function that reads a file line by line and yields each line as a string.

In [55]:
# Implement a generator function that reads a file line by line and yields each line as a string.

!wget https://example-files.online-convert.com/document/txt/example.txt

def read_file_line_by_line(file_path):
    with open(file_path, 'r') as file:
        for line in file:
            yield line

for l in read_file_line_by_line('example.txt'):
  print(l)

--2024-09-22 17:38:19--  https://example-files.online-convert.com/document/txt/example.txt
Resolving example-files.online-convert.com (example-files.online-convert.com)... 104.22.58.173, 172.67.4.125, 104.22.59.173, ...
Connecting to example-files.online-convert.com (example-files.online-convert.com)|104.22.58.173|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/plain]
Saving to: ‘example.txt.2’

example.txt.2           [ <=>                ]   2.51K  --.-KB/s    in 0s

2024-09-22 17:38:19 (54.7 MB/s) - ‘example.txt.2’ saved [2574]

TXT test file

Purpose: Provide example of this file type

Document file type: TXT

Version: 1.0

Remark:



Example content:

The names "John Doe" for males, "Jane Doe" or "Jane Roe" for females, or "Jonnie Doe" and "Janie Doe" for children, or just "Doe" non-gender-specifically are used as placeholder names for a party whose true identity is unknown or must be withheld in a legal action, case, or discussion. The names are also used to refer to acorpse or hospital patient whose identity is unknown. This practice is widely used in the United States and Canada, but is rarely used in other English-speaking countries including the United Kingdom itself, from where the use of "John Doe" in a legal context originates. The names Joe Bloggs or John Smith are used in the UK instead, as well as in Australia and New Zealand.



John Doe is sometimes used to refer to a typical male in other contexts as well, in a similar manner to John Q. Public, known in Great Britain as Joe Public, John Smith or Joe Bloggs. For example, the first name listed on a form is often John Doe, along with a fictional address or other fictional information to provide an example of how to fill in the form. The name is also used frequently in popular culture, for example in the Frank Capra film Meet John Doe. John Doe was also the name of a 2002 American television series.



Similarly, a child or baby whose identity is unknown may be referred to as Baby Doe. A notorious murder case in Kansas City, Missouri, referred to the baby victim as Precious Doe. Other unidentified female murder victims are Cali Doe and Princess Doe. Additional persons may be called James Doe, Judy Doe, etc. However, to avoid possible confusion, if two anonymous or unknown parties are cited in a specific case or action, the surnames Doe and Roe may be used simultaneously; for example, "John Doe v. Jane Roe". If several anonymous parties are referenced, they may simply be labelled John Doe #1, John Doe #2, etc. (the U.S. Operation Delego cited 21 (numbered) "John Doe"s) or labelled with other variants of Doe / Roe / Poe / etc. Other early alternatives such as John Stiles and Richard Miles are now rarely used, and Mary Major has been used in some American federal cases.







File created by https://www.online-convert.com

More example files: https://www.online-convert.com/file-type

Text of Example content: Wikipedia (https://en.wikipedia.org/wiki/John_Doe)

License: Attribution-ShareAlike 4.0 (https://creativecommons.org/licenses/by-sa/4.0/)



Feel free to use and share the file according to the license above.

# 8. Use a lambda function in Python to sort a list of tuples based on the second element of each tuple.

In [56]:
# Use a lambda function in Python to sort a list of tuples based on the second element of each tuple.

def sort_list_of_tuples(lst):
    return sorted(lst, key=lambda x: x[1])

sort_list_of_tuples([(2,3), (1,2), (5,6), (2,4)])

[(1, 2), (2, 3), (2, 4), (5, 6)]

# 9. Write a Python program that uses `map()` to convert a list of temperatures from Celsius to Fahrenheit.

In [57]:
# Write a Python program that uses `map()` to convert a list of temperatures from Celsius to Fahrenheit.

def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

celsius_temperatures = [0, 10, 20, 30, 40]
fahrenheit_temperatures = list(map(celsius_to_fahrenheit, celsius_temperatures))

print(fahrenheit_temperatures)

[32.0, 50.0, 68.0, 86.0, 104.0]

# 10. Create a Python program that uses `filter()` to remove all the vowels from a given string.

In [58]:
# Create a Python program that uses `filter()` to remove all the vowels from a given string.

vowels = 'aeiouAEIOU'
def remove_vowels(string):
    return ''.join(filter(lambda x: x not in vowels, string))

print(remove_vowels("We live in AI world !"))

W lv n  wrld !

# 11 Imagine an accounting routine used in a book shop. It works on a list with sublists, which look like given example :

#Write a Python program, which returns a list with 2-tuples. Each tuple consists of the order number and the product of the price per item and the quantity. The product should be increased by 10,- € if the value of the order is smaller than 100,00 €.

# Write a Python program using lambda and map

In [59]:
order_book = []
order_book.append({"order_number" : 100, "book_title_author" : "Jerry", "quantity" : 50, "price_per_item" : 50})
order_book.append({"order_number" : 200, "book_title_author" : "James", "quantity" : 500, "price_per_item" : 60})
order_book.append({"order_number" : 300, "book_title_author" : "John", "quantity" : 20, "price_per_item" : 80})
order_book.append({"order_number" : 400, "book_title_author" : "Tom", "quantity" : 200, "price_per_item" : 90})
order_book.append({"order_number" : 500, "book_title_author" : "Harry", "quantity" : 6000, "price_per_item" : 70})
order_book.append({"order_number" : 600, "book_title_author" : "Jim", "quantity" : 5000, "price_per_item" : 85})
order_book.append({"order_number" : 700, "book_title_author" : "Ben", "quantity" : 2000, "price_per_item" : 45})
order_book.append({"order_number" : 800, "book_title_author" : "Smith", "quantity" : 1000, "price_per_item" : 205})

order_value = list(map(lambda x: (x["order_number"], x["price_per_item"] * x["quantity"]), order_book))
final_order_value = list(map(lambda x: (x[0], x[1] + 10) if x[1] < 10000 else (x[0], x[1]), order_value))
print(final_order_value)

[(100, 2510), (200, 30000), (300, 1610), (400, 18000), (500, 420000), (600, 425000), (700, 90000), (800, 205000)]